body {
  background-color: rgb(217, 217, 217);
}

.well {
  /*background: rgb(100, 100, 100);*/
  background: rgba(35, 43, 28, 0.9);
  border-bottom: solid;
  border-right: solid;
  border-color: rgb(180,180,180);
  padding-top: 0px;
}

li {
  font-family: ormont;
  list-style-type:circle;
}

p {
  font-family: ormont;
}

h1 {
  font-family: the woodlands;
  text-decoration: underline;
}

#header {
  text-align: center;
  font-family: the woodlands;
  font-size: 80px;
  color: rgba(200, 200, 200, 0.8);
  font-weight: normal;
}

#self {
  text-align: center;
}

#headrow {
  padding-top: 20px;
}

#self img{
  height: 450px;
}

#intro {
  color: rgba(230, 230, 230, 0.7);
  text-align: center;
  font-weight: bold;
}
