body {
  background-color: rgb(217, 217, 217);
  font-family: ormont;
}

@font-face {
  font-family: ormont;
  src: url("../fonts/ormont_light.tff");
  font-family: the woodlands;
  src: url("../fonts/thewoodlands-regular.otf");
}

.well {
  background: rgba(35, 43, 28, 0.9);
  border-bottom: solid;
  border-right: solid;
  border-color: rgb(180,180,180);
  padding-top: 0px;
}

ul li {
  list-style-type:circle;
  padding-top: 20px
}

ol li {
  list-style-type: lower-roman;
}

h1 {
  font-family: the woodlands;
  text-decoration: underline;
  font-size: 45px
}

.indent {
  padding-left: 15px;
}

.contact {
  font-size: 18px;
}

.order {
  font-weight: bold;
  font-style: italic;
  color: rgb(10, 10, 10);
}

.box {
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border: solid;
  border-width: 3px;
  border-color: rgb(150, 150, 150);
  border-style: double;
}

.hobbie {
  font-size: 15px;
  font-weight: bold;
}

#header {
  text-align: center;
  font-family: the woodlands;
  font-size: 100px;
  color: rgba(200, 200, 200, 0.8);
  font-weight: normal;
}

#self {
  text-align: center;
}

#headrow {
  padding-top: 20px;
}

#self img{
  height: 475px;
}

#intro {
  color: rgba(230, 230, 230, 0.7);
  text-align: center;
  font-weight: bold;
}

#right {
  float: right;
  width: 60%;
  font-size: 13px;
}

#notice {
  font-size: 10px;
}
